.env
__pycache__/
db.txt
agentic/

Phase1/scrapers_old/
spacy-env
Phase1/test
Phase1/twitter_scrape
Phase1/query_processing.py
Phase1/test_jina_op.py
Phase1/refine_get_data.py
Phase1/llm_query_processing.py
Phase1/get_data.py
Phase1/data_processing.py
Phase1/output.txt
Phase1/misinformation_detection.py
structured_output.txt