.env
__pycache__/
db.txt
agentic/
spacy-env
Papers

Core_Workflow/scrapers_old/
Core_Workflow/test
Core_Workflow/twitter_scrape
Core_Workflow/query_processing.py
Core_Workflow/test_jina_op.py
Core_Workflow/refine_get_data.py
Core_Workflow/llm_query_processing.py
Core_Workflow/get_data.py
Core_Workflow/data_processing.py
Core_Workflow/output.txt
Core_Workflow/misinformation_detection.py
Core_Workflow/get_data_and_summarize.py
Core_Workflow/db_append.py
Core_Workflow/agent_orchestrator.py

dashboard/stock_test.py

structured_output.txt